html {
    --uz-color: var(--bs-white);
    --uz-bg: #673ab7;
}

nav,
.navbar {
    --bs-navbar-color: var(--uz-color);
    --bs-navbar-active-color: var(--uz-color);
    --bs-navbar-brand-color: var(--uz-color);
    --bs-navbar-toggler-border-color: var(--uz-color);
    --bs-navbar-toggler-color: var(--uz-color);
    background-color: var(--uz-bg);
}

.nav-link {
    --bs-nav-link-hover-color: var(--uz-color);
}

.card {
    --bs-card-cap-color: var(--uz-color);
    --bs-card-cap-bg: var(--uz-bg);
}

.bi {
    fill: currentColor;
    width: 1em;
    height: 1em;
}

iframe {
    aspect-ratio: 16 / 9;
    height: auto;
    width: 100%
}